{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Make a group{% endblock %}

{% block body %}
<div class="container">
    <h1>Make a group</h1>
    <form method="POST" , action="/add_group">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.text) }}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="text-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}