{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container">
    <h1>Login</h1>
    <form method="POST", action="/login">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="text-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}